@font-face {
  font-family: 'Agrandir Wide';
  src:  url('./Fonts/Agrandir-WideBlackItalic.otf') format('otf');
}
.App {
  text-align: center;
  height: 100vh;
  background-color: #E4D8D3;
}

.App-header {
  font-family: 'Agrandir Wide';
  background-color: #E4D8D3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #005446;
  
}
.NavBar{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 10vh;
}
.sticky-nav {
  position: fixed;
  top: 0;
  left: 2;
  height: fit-content;
  z-index: 3;
  border-radius: 25px;
  background-color: #66240821;
}
ul{
  padding-left: 0;
}

.MuiButtonBase-root.MuiButton-root{
  color: #005446;
  font-family: Arial, Helvetica, sans-serif;
}

.Button{
  border: none;
}
.App-title{
  justify-content: left;
  font-size: calc(7em + 2vmin);
}
.Plant{
  height: 20vh;
}
.Marketing, .Cert{
  height: 75vh;
  background-color: #E4D8D3;
  color: #333232;
  padding-top: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.Section-header{
  font-family: 'Agrandir Wide';
  position: absolute;
  margin-top: 0;
  width: 100vw;
  font-weight: 100;
  padding-top: 5vh;
  padding-bottom: 5vh;
  font-size: 4em;

}
.About{
  height: 75vh;
  background-color: #E4D8D3;
  color: #B13C0A;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.About-Description{
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 10vh;
  width: 45vw;
  height:40vh;
  font-weight: 100;
  padding-bottom: 10vh;
  margin:5.5em;
  text-align: justify;
  overflow: hidden;
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: break-word;
}
.About-Img{
  padding-top: 10vh;
  width: 25em;
  height: 25em;
}
.Marketing{
  padding-top: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.Marketing-Description, .SocialMedia-Description, .Cert-Description {
  margin-top: 15vh;
  font-weight: 200;
}
/*FOOTER*/
.Contact{
  background-color: #333232;
  color:#E4D8D3;
  height: 40vh;
  padding-top: 5vh;
  padding-bottom: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.Contact-Description{
  margin-top: 25vh;
  font-weight: 100;
  text-align: center;
  width: 25vw;
}
.Logo{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  line-height: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
  color: #E4D8D3;
  margin-top: 25vh;
  height: 5vh;
  width: 5vh;
  text-decoration: none;
  justify-content: space-evenly;
}
.Logo-Text{
  margin-left: 5vh;
}

/*SOCIAL MEDIA CAROUSEL*/
.social-posts{
  left: 25%;
  width: 50vw;
  height: 70vh;
}
.post-Img{
  display: grid;
  object-fit: scale-down;
  align-items: center;
  padding-bottom: 5em;
  margin-left: 15em;
  width: 30em;
}
.SocialMedia{
  height: 100vh;
  width: 100%;
  background-color: #E4D8D3;
  color: #B13C0A;
  display: flex;
  flex-direction: column;
  justify-content:baseline;
}